.send_email {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  font-family: var(--font-base);
  header {
    color: #fff;
    margin: 20px;
  }
  .form__container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    height: 30rem;
    width: 30rem;
    border-radius: 10px;
    flex-direction: column;

    .password_logo {
      background-color: rgb(239, 233, 254);
      color: var(--primary-color);
      border-radius: 12px;
      height: 5rem;
      width: 5rem;
      font-size: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 15px;
      padding-top: 12px;
      span {
        color: var(--primary-color);
      }
    }
    header {
      h1 {
        color: #000;
        // color: var(--primary-color);
      }
    }
    p {
      text-align: center;
      color: rgb(101, 101, 101);
      width: 400px;
      @media screen and (max-width: 600px) {
        width: 385px;
      }
    }
    .form-item {
      position: relative;
      margin-bottom: 15px;
      font-family: var(--font-base);
      margin-top: 4rem;
      input {
        display: block;
        width: 400px;
        height: 40px;
        background: transparent;
        border: solid 1px #ccc;
        transition: all 0.2s ease-in-out;
        padding: 0 15px;
        border-radius: 6px;

        &:focus {
          border-color: var(--primary-color);
        }
        @media screen and (max-width: 600px) {
          width: 350px;
        }
      }

      label {
        position: absolute;
        cursor: text;
        z-index: 2;
        top: 18%;
        left: 10px;
        font-size: 17px;
        background: #fff;
        padding: 0 10px;
        color: #999;
        transition: all 0.2s ease-in-out;
        transform: translateY(-50%);
        pointer-events: none;
        @media screen and (max-width: 600px) {
          font-size: 15px;
        }
      }
      input:focus + label,
      input:valid + label {
        font-size: 12px;
        top: 0;
        color: var(--primary-color);
      }
    }
    .btn {
      display: flex;
      justify-content: center;
      margin: 15px;
      button {
        color: #fff;
        background-color: var(--primary-color);
        border-radius: 20px;
        padding: 10px;
        width: 10rem;
        font-size: 15px;
        cursor: pointer;
        border: none;
      }
    }

    @media screen and (max-width: 600px) {
      width: auto;
    }
  }
}
